.box {
	position: relative;
	margin: 50px;
}
.board, .back {
	position: absolute;
	left: 0;
	top: 0;
}

.btns .btn {
	display: inline-block;
	background-color: #222;
	color: #fff;
	width: 100px;
	height: 30px;
	font-size: 16px;
	line-height: 16px;
}

.btns	.btn-continue {
	display: none;
}

.infos .txt-level {
	display: none;
}